<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <div>
        <nav><a href="/top/forms">top user forms</a></nav>
        <nav><a href="/top/forms/last-our">top user forms in the last our</a></nav>
    </div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <p><input type="file" name="file" /></p>
        <p><input type="submit" value="Upload" /></p>
    </form>
</body>
</html>